.env
.vscode
.DS_Store

/config/*
/data/*
/logs/*
/buildtest
/bin

node_modules
vendor

www/wp-admin
www/wp-includes
www/.env
www/.htaccess
www/index.php
www/license.txt
www/wp-activate.php
www/wp-blog-header.php
www/wp-comments-post.php
www/wp-config-sample.php
www/wp-cron.php
www/xmlrpc.php
www/wp-trackback.php
www/wp-signup.php
www/wp-settings.php
www/wp-mail.php
www/wp-login.php
www/wp-load.php
www/wp-links-opml.php
www/readme.html

www/wp-content/ai1wm-backups
www/wp-content/plugins
www/wp-content/upgrade
www/wp-content/uploads
www/wp-content/index.php
www/wp-content/debug.log
